@font-face {
    font-family: "GardensC";
    src: url(../font/GardensC.otf);
}
*{
    font-family: "GardensC";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 3vh;
}
:root{
    --darkgray: #1d2125;
    --w: #ffffff;
    --gray: #b9b8c9;
    --dark: #1a1d20;
    --green: #00e676;
    --blue: #4fc3f7;
}
header{
    position: fixed;
    height: 9vh;
    background-color: var(--dark);
    color: var(--w);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4vw;
    justify-content: space-between;
    z-index: 999;
}
h1{
    font-size: 6vh;
}
.logotype>img{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logotype{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.txtlogo{
    display: flex;
    flex-direction: column;
}
.big{
    font-size: 4vh;
}
.smal{
    font-size: 2vh;
}
#burger{
    width: 5vh;
    height: 4vh;
    background-color: #ffffff00;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .7s ease-in-out;
    cursor: pointer;
}
#burger>div{
    background-color: var(--w);
    height: .5vh;
    width: 100%;
    border-radius: 5vh;
}
nav{
    position: absolute;
    width: 30vw;
    background-color: var(--darkgray);
    height: 91vh;
    right: -30vw;
    top: 9vh;
    transition: .7s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0;
    font-size: 3vh;
}
nav>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
nav>div>a{
    color: var(--w);
}
main{
    background-color: var(--gray);
    min-height: 100vh;
}
@keyframes moviemac {
    0%{
        transform: translateY(-1vh);
    }
    100%{
        transform: translateY(1vh);
    }
}
.first-w>img{
    width: 45vh;
    animation: moviemac 3s ease-in-out infinite alternate;
}
.welcome{
    min-height: 100vh;
    padding-top: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.first-w{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.second-w{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}
.second-w>p, .second-w>h1{width: 100%;}
.btn{
    background-color: var(--dark);
    color: var(--w);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    height: 7vh;
    width: 15vw;
    transition: .3s ease-in-out;
}
.btn:hover{
    width: 18vw;
    background-color: #5a1d00;
}
.info{
    min-height: 100vh;
    padding: 10vh 4vw 0 4vw;
}
.info>h1{
    width: 100%;
    text-align: center;
}
.info>p{
    width: 100%;
    margin: 7vh 0;
}