@font-face {
    font-family: "GardensC";
    src: url(../font/GardensC.otf);
}
*{
    font-family: "GardensC";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 3vh;
}
html{
    scroll-behavior: smooth;
}
:root{
    --darkgray: #1d2125;
    --w: #ffffff;
    --gray: #b9b8c9;
    --dark: #1a1d20;
    --green: #00e676;
    --blue: #4fc3f7;
}
header{
    position: fixed;
    height: 9vh;
    background-color: var(--dark);
    color: var(--w);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4vw;
    justify-content: space-between;
    z-index: 999;
}
h1{
    font-size: 6vh;
}
.logotype>img{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logotype{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.txtlogo{
    display: flex;
    flex-direction: column;
}
.big{
    font-size: 4vh;
}
.smal{
    font-size: 2vh;
}
#burger{
    width: 5vh;
    height: 4vh;
    background-color: #ffffff00;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .7s ease-in-out;
    cursor: pointer;
}
#burger>div{
    background-color: var(--w);
    height: .5vh;
    width: 100%;
    border-radius: 5vh;
}
nav{
    position: absolute;
    width: 30vw;
    background-color: var(--darkgray);
    height: 91vh;
    right: -30vw;
    top: 9vh;
    transition: .7s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0;
    font-size: 3vh;
}
nav>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
nav>div>a{
    color: var(--w);
}
main{
    background-color: var(--gray);
    min-height: 100vh;
}
@keyframes moviemac {
    0%{
        transform: translateY(-1vh);
    }
    100%{
        transform: translateY(1vh);
    }
}
.first-w>img{
    width: 45vh;
    animation: moviemac 3s ease-in-out infinite alternate;
}
.welcome{
    min-height: 100vh;
    padding: 9vh 4vw 0 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.first-w{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.second-w{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}
.second-w>p, .second-w>h1{width: 100%;}
.btn{
    background-color: var(--dark);
    color: var(--w);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
    height: 7vh;
    width: 15vw;
    transition: .3s ease-in-out;
}
.btn:hover{
    width: 18vw;
    background-color: #5a1d00;
}
.info{
    min-height: 100vh;
    padding: 10vh 4vw 0 4vw;
}
.info>h1{
    width: 100%;
    text-align: center;
}
.info>p{
    width: 100%;
    margin: 7vh 0;
    
}
.grid-block{
    display: grid;
    grid-template: 1fr 1fr/repeat(3, 1fr);
    grid-template-areas: 
    "a i c"
    "b i d"
    ;
    height: 60vh;
    gap: 1vh;
    align-items: center;
    justify-content: center;
}
.grid-block>p{
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 130px;
    transition: .1s ease-in-out;
    box-shadow: 0 0 4vh rgba(0, 0, 0, 0.4);
}
.grid-block>p:hover{
    background-color: #240b00be;
    box-shadow: 0 0 1vh #5a1d00;
    transform: translateY(-1vh);
}
.g3{
    height: 100%;
    grid-area: "i";
    grid-row: span 2;
}
.g1{grid-area: a;}
.g2{grid-area: b;}
.g4{grid-area: c;}
.g5{grid-area: d;}
.table{
    min-height: 100vh;
    padding: 10vh 4vw 0 4vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.table>h1{
    text-align: center;
}
table{
    width: 100%;
    background-image: url(../img/bgtable.png);
    background-position: center;
    background-size: cover;
    text-shadow: 0 0 1vh #000000;
    color: #fff;
    border-radius: 1vh;
}
thead{
    font-weight: bolder;
    background-color: #00000057;
}
td{
    padding: 1vh;
}
tbody>tr>td:first-child{
    text-decoration: underline;
}
label{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.calculator{
    display: grid;
    gap: 3vh;
    grid-template: 1fr 1fr/1fr 1fr;
    align-items: center;
    justify-content: center;
}
select{
    background-color: #00000025;
    padding: 1vh;
}
label[for="service"]{
    grid-row: 2/3;
    grid-column: 1/2;
}
label>span{
    font-weight: bold;
}
.reviews{
    padding-top: 10vh;
}
.reviews>h1{
    text-align: center;
}